In [3]:
print("Hello World")

Hello World

In [4]:
a=5
print(type(a))

<class 'int'>

In [5]:
f=1.5

print(f)
print(type(f))

1.5
<class 'float'>

In [6]:
s="heyy!!!"
print(s)
print(type(s))

heyy!!!
<class 'str'>

In [8]:
b=True 
print(b)
print(type(b))

True
<class 'bool'>

In [10]:
a=False
print(a)
print(type(a))

False
<class 'bool'>

In [12]:
t=5+3j 
print(t)
print(type(t))

(5+3j)
<class 'complex'>

In [14]:
a = 7

b = 3

sum = a + b
print(sum)

10

In [15]:
a=9
b=15
diff = a - b
print(diff)

-6

In [16]:
a=2
b=4
prod = a * b
print(prod)

8

In [17]:
quo = a / b

print(quo)

0.5

In [18]:
quot = a // b

print(quot)

0

In [19]:
a=7
b=3
q = a // b
print(q)

2

In [20]:
rem = a % b
print(rem)

1

In [21]:
pow = a ** b

print(rem)

1

In [22]:
a = 7
b = 3
sum = a + b
print(sum) 

dif = a - b
print(dif) # 4

pro = a * b
print(pro)

10
4
21

In [23]:
x= True
y= False
print(x,y)

True False

In [24]:
p=2<7
print(p)

True

In [25]:
x=True
y=False
print(x,y)
p = 5 > 3
print(p)
q = -7 < -14
print(q)
r = 3 > 7
print(r)
print(p and q)
print(p or q)
print(not q)

True False
True
False
False
False
True
True

In [26]:
s = 'hello' 
u ="hello"

print(s)
print(u)

hello
hello

In [27]:
s1 = "hello"
s2 = "world"
s3 = s1 + ' ' + s2
print(s3)

hello world

In [28]:
s1 = "hello"
s2 = 'world'
s3 = s1 + ' ' + s2
print(s3)
s3 = '%s %s %d' %(s1, s2, 1011)
print(s3)
print(len(s3))
print(s3.upper())

hello world
hello world 1011
16
HELLO WORLD 1011

In [29]:
print(len(s3))

16

In [30]:
print(s3.capitalize())

Hello world 1011

In [31]:
print(s3.lower())

hello world 1011

In [32]:
print('hello world how are you'.split(' '))

['hello', 'world', 'how', 'are', 'you']

In [33]:
print('google'.replace('g','d'))

doodle

In [34]:
word = 'classification'
print(word.find('class'))
print(word.find('ing'))

0
-1

In [46]:
res = input('Are you familiar with python :')

if res.upper() == "YES":

    print("You can skip this course :-|") 
elif response.upper() == "NO":

    print("You are at the right place :-)")
else:

    print('Sorry wrong input :-(')

Are you familiar with python :yes
You can skip this course :-|

In [47]:
num=70
if num > 99 and number < 1000:
    print('3 digit')
else:
 print('Not 3 digit')

Not 3 digit

In [48]:
for x in range(10):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [50]:
limit = int(input('Enter a limit : '))
sum = 0
for i in range(1,limit + 1):
    if i%2 !=0:

        sum = sum + i

    print("Odd sum = "+str(sum))

Enter a limit : 5
Odd sum = 1
Odd sum = 1
Odd sum = 4
Odd sum = 4
Odd sum = 9

In [53]:
range(a)

print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
print(list(range(1,10)))
print(list(range(1,10,2)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [55]:
nuM = int(input('Enter number : ')) 
s = 0
while num > 0 :
    s += num%10
    num = num//10
print(s)

Enter number : 7
7

In [56]:
number = int(input('Enter number : ')) 
s = 0

while number > 0 :

 s += number%10
 number = number//10

 print(s)

Enter number : 3
3

In [65]:
imit = int(input('Enter number : ')) 
for num in range(2,limit+1):
        is_divisible = False
        k=2
        while k <= num//2 :
            if num % k == 0:  
                is_divisible=True 
                break;
            k += 1
        if not is_divisible:
            print(num,end=' ')

Enter number : 400
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397

In [66]:
mylist = ['a','b', 1, 1.2, True]
print(mylist)

['a', 'b', 1, 1.2, True]

In [67]:
mylist.append('new')

print(mylist)

['a', 'b', 1, 1.2, True, 'new']

In [68]:
print(mylist.pop())

new

In [69]:
mylist.insert(1,'new')
print(mylist)

['a', 'new', 'b', 1, 1.2, True]

In [70]:
mylist.remove('new')

print(mylist)

['a', 'b', 1, 1.2, True]

In [71]:
b = [3,5,7]

mylist.append(b)
print(mylist)

['a', 'b', 1, 1.2, True, [3, 5, 7]]

In [72]:
mylist.remove(b)

print(mylist)

['a', 'b', 1, 1.2, True]

In [73]:
mylist.extend(b)

print(mylist)

['a', 'b', 1, 1.2, True, 3, 5, 7]

In [74]:
a = [12,17,18,24,3]

a.sort()

print(a)

[3, 12, 17, 18, 24]

In [75]:
print(list('VISMAYA'))

['V', 'I', 'S', 'M', 'A', 'Y', 'A']

In [81]:
person = {'name' : 'VISMAYA', 'age': 21}
print(person['name'])

VISMAYA

In [82]:
print('name' in person)

True

In [83]:
print('sex' in person)

False

In [84]:
person['sex'] = 'Female'

print(person)

{'name': 'VISMAYA', 'age': 21, 'sex': 'Female'}

In [86]:
for item in person:
    print(item,person[item])

name VISMAYA
age 21
sex Female

In [87]:
for (key,value) in person.items():

    print(key.capitalize(),'\t:\t', value)

Name 	:	 VISMAYA
Age 	:	 21
Sex 	:	 Female

In [88]:
print(person.keys())

dict_keys(['name', 'age', 'sex'])

In [89]:
t1 = (1,2,3)

t2 = 4,5,6

print(t1,t2)


t3 = t1 +t2
print(t3)

(1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [90]:
lt = tuple(['a','b','c','d']) 
print(lt)

('a', 'b', 'c', 'd')

In [93]:
s = (3)

print(type(s))
s = (3,)

print(type(s))

<class 'int'>
<class 'tuple'>

In [94]:
lt[2] = "x"

TypeError: 'tuple' object does not support item assignment

In [95]:
s = {1,2,3}

print(s,type(s))

{1, 2, 3} <class 'set'>

In [96]:
fset = {"apple", "banana", "cherry"}
fset.remove("banana")

print(fset)

{'cherry', 'apple'}

In [97]:
fset = {"apple", "banana", "cherry"}
fset.discard("banana")

print(fset)

{'cherry', 'apple'}

In [98]:
fset = {"apple", "banana", "cherry"}
fset.clear()

print(fset)

set()

In [99]:
set1 = {"a", "b" , "c"}
set2 ={1, 2, 3}

set3 = set1.union(set2)

print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [100]:
x = {"apple", "banana", "mango"}

y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [101]:
s = [1,2,3,4,5,5,5,7,6]

myset = list(set(s))
print(myset)

[1, 2, 3, 4, 5, 6, 7]

In [105]:
def twice(number):
    return 2*number

t = twice(5)
print(t)

10

In [106]:
def twice(number):
    return 2*number

t = twice(5)
print(t)

10

In [107]:
def isPrime(number):
    for factor in range(2, (number//2)+1): 
        if number%factor == 0:

            return False

            return True

number = int(input('Enter the number '))
print(isPrime(number))

Enter the number 2
None

In [111]:
def isPrime(number):
    for factor in range(2, (number//2)+1): 
        if number%factor == 0:
            return False
    return True

number = int(input('Enter the number '))
print(isPrime(number))

Enter the number 2
True

In [112]:
def printPrimes(llimit, ulimit):

    for num in range(llimit, ulimit + 1):

        if isPrime(num) == True:

            print(num, end = ' ')

printPrimes(5,50)

5 7 11 13 17 19 23 29 31 37 41 43 47

In [113]:
def swap(x,y):

    t = x
    x = y
    y = t
    return x,y

a=5
b=7

a,b = swap(a,b)
print(a,b)

7 5

In [114]:
class Adder:

    def init (self):

        self.x = 0

        self.y = 0

    def setValues(self, x, y):

        self.x = x

        self.y = y


    def calculate(self1):

        self1. sum = self1.x + self1. y


    def getSum(self):
    
        return self.sum

adder =Adder()
adder.setValues(5,4)
adder.calculate()
print(adder.getSum())

9

In [115]:
for x in range(10):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [117]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13]
print(numbers[1],numbers[-1])

2 13

In [118]:
sliced = numbers[5:11]

print(sliced)

[6, 7, 8, 9, 10, 11]

In [119]:
sliced = numbers[5:]
print(sliced)

[6, 7, 8, 9, 10, 11, 12, 13]

In [120]:
sliced = numbers[:7]
print(sliced)

[1, 2, 3, 4, 5, 6, 7]

In [121]:
sliced = numbers[-2:]

print(sliced)

[12, 13]

In [122]:
numbers = list(range(1, 8))

print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [125]:
square = [x**2 for x in numbers]

print(square)

[1, 4, 9, 16, 25, 36, 49]

In [126]:
odd_square =[x**2 for x in numbers if x%2 != 0]

print(odd_square)

[1, 9, 25, 49]

In [127]:
A = [4,6,8,9]

AxA = [(a,b) for a in A for b in A if a!=b]

print(AxA)

[(4, 6), (4, 8), (4, 9), (6, 4), (6, 8), (6, 9), (8, 4), (8, 6), (8, 9), (9, 4), (9, 6), (9, 8)]